.section {

        margin: 25px 0;
    h2 {
        color: var(--color-white);
        font-size: typo(30px, 40px);
        font-weight: 100;
    }
}

.cards {
    display: flex;
    flex-direction: column;
    gap: 50px;
}

.card {
    display: flex;
    gap: 32px;
    align-items: center;
    @media (width<= $breakpoint-md) {
        flex-direction: column;
    }
}

.reverse {
    flex-direction: row-reverse;
    @media (width<= $breakpoint-md) {
        flex-direction: column;
    }
}

.card__media {
    
    img {
        width: 100%;
        height: 100%;
        object-fit: cover;
        border-radius: 16px;
    }
}

.card__content {
    color: var(--color-white);
    display: flex;
    flex-direction: column;
    gap: var(--spacing-sm);

    h3 {
        font-size: typo(16px);
        text-transform: uppercase;
    }

    .tag {
        font-weight: light;
        text-transform: uppercase;
    }

    a {
        background-color: var(--color-primary);
        color: var(--color-black);
        font-weight: bold;
        padding: 16px 8px;
        border-radius: 99px;
        letter-spacing: 2px;
        text-transform: uppercase;
        &:hover{


            text-decoration: none;

        }
    }

    p{

        font-weight: 100;
        font-size: typo(24px, 32px);

    }
}

.icon{

font-size: 26px;


}

.swiper-pagination{

display: flex;
justify-content: center;
gap: 10px;
--swiper-pagination-bullet-width: 20px;
--swiper-pagination-bullet-height: 20px;
--swiper-pagination-bullet-border-radius: 0;


    .swiper-pagination-bullet{

        rotate: 45deg;

    }

    .swiper-pagination-bullet-active{

        background: var(--color-white);

    }

}