.section {
    h2 {
        color: var(--color-white);
        font-size: typo(30px, 40px);
    }
}

.cards {
    display: flex;
    flex-direction: column;
    gap: 50px;
}

.card {
    display: flex;
    gap: 32px;
    align-items: center;
    @media (width<= $breakpoint-xs) {
        flex-direction: column;
    }
}

.reverse {
    flex-direction: row-reverse;
    @media (width<= $breakpoint-xs) {
        flex-direction: column;
    }
}

.card__media {
    aspect-ratio: 595/490;
    img {
        width: 100%;
        height: 100%;
        object-fit: cover;
        border-radius: 16px;
    }
}

.card__content {
    color: var(--color-white);
    display: flex;
    flex-direction: column;
    gap: var(--spacing-sm);

    h3 {
        font-size: typo(16px);
        text-transform: uppercase;
    }

    .tag {
        font-weight: light;
        text-transform: uppercase;
    }

    a {
        background-color: var(--color-primary);
        color: var(--color-black);
        font-weight: bold;
        padding: 16px 8px;
        border-radius: 99px;
    }
}
