.header {
    padding: 25px 0;
    background-color: rgba($color: #000, $alpha: 0.7);
    position: fixed;
    width: 100%;
    top: 0;
    left: 0;
    z-index: 2;
    .wrapper {
        display: flex;
        justify-content: center;
        align-items: center;
    }

    a {
        color: var(--color-bg-primary);
        &:hover {
            text-decoration: none;
        }
    }
}
