.hero {
    padding: 80px 0;
    position: relative;
    .wrapper {
        min-height: 80vh;
    }
}

.hero_content {
    h1 {
        margin-bottom: 80px;
        font-size: typo(40px, 57px);
        font-family: var(--font-secondary);
    }
}

.hero_media {
    img {
        object-fit: cover;
    }
}
