.hero {
    padding: 80px 0;
    position: relative;
    height: 80vh;
    .wrapper {
        height: 100%;
        display: flex;
        flex-direction: column-reverse;
    }

    @media (width< $breakpoint-xs){

        height: 60vh;

    }
}

.hero_content {

    position: absolute;
    h1 {
        font-size: typo(40px, 57px);
        font-family: var(--font-secondary);
    }
}

.hero_media {

    position: absolute;
    height: 100%;
    width: 100%;
    z-index: -1;
    top: 0;
    left: 0;
    img {
        height: 100%;
        width: 100%;
        object-fit: cover;
    }
}
