{% include "_partials/_header.html" %}

<!-- Votre contenu ici -->
<section class="hero">
    <div class="wrapper">
        <div class="hero_media">
            <img src="assets/images/Jet.jpg" alt="" />
        </div>
        <div class="hero_content">
            <h1>Mon cahier <br>d'excercice</h1>
        </div>
    </div>
</section>

<section class="section">
    <div class="wrapper">
        <h2>
            Mes premiers
            <strong>laboratoires</strong>
        </h2>
        <div class="cards">
            <div class="card">
                <div class="card__media">
                    <img src="assets/images/Grid ou Flex.png" alt="" />
                </div>

                <div class="card__content">
                    <h3>Sem 01-Révision</h3>
                    <p>
                        Lorem ipsum dolor sit amet, consectetur 
                        <strong>adipiscing elit. Ultrices lorem non feugiat egestas amet.</strong>
                    </p>
                    <p class="tag">HTLM+CSS</p>
                   <div class="button"><a href="/cours/cw3/sem01/">Voir le laboratoire <svg class="icon">
                        <use href="#icon-chevron-right"></use>
                    </svg></a></div>
                </div>
            </div>
            <div class="card reverse">
                <div class="card__media">
                    <img src="assets/images/TimCard.png" alt="" />
                </div>

                <div class="card__content">
                    <h3>Sem 02-Timtools</h3>
                    <p>
                        Lorem ipsum dolor sit amet, consectetur 
                        <strong>adipiscing elit. Ultrices lorem non feugiat egestas amet.</strong>
                    </p>
                    <p class="tag">SCSS</p>
                    <div class="button"><a href="/cours/cw3/sem02/">Voir le laboratoire <svg class="icon">
                        <use href="#icon-chevron-right"></use>
                    </svg></a></div>
                </div>
            </div>
            <div class="card">
                <div class="card__media">
                    <img src="assets/images/Portfolio.png" alt="" />
                </div>

                <div class="card__content">
                    <h3>Sem 03-portfolio Louis la joue</h3>
                    <p>
                        Lorem ipsum dolor sit amet, consectetur 
                        <strong>adipiscing elit. Ultrices lorem non feugiat egestas amet.</strong>
                    </p>
                    <p class="tag">HTLM + SCSS</p>
                    <div class="button"><a href="/cours/cw3/sem03/">Voir le laboratoire <svg class="icon">
                        <use href="#icon-chevron-right"></use>
                    </svg></a></div>
                </div>
            </div>
            <div class="card reverse">
                <div class="card__media">
                    <img src="assets/images/Icone.png" alt="" />
                </div>

                <div class="card__content">
                    <h3>Sem 04-Icone et classes js</h3>
                    <p>
                        Lorem ipsum dolor sit amet, consectetur 
                        <strong>adipiscing elit. Ultrices lorem non feugiat egestas amet.</strong>
                    </p>
                    <p class="tag">SCSS + javascript</p>
                   <div class="button"> <a href="/cours/cw3/sem04/">Voir le laboratoire<svg class="icon">
                        <use href="#icon-chevron-right"></use>
                    </svg></a></div>
                </div>
            </div>
        </div>
    </div>
</section>

<section class="swiper swiper_decoration">
    <div class="wrapper overflow">
        <h2>Mes <strong>laboratoires réactifs</strong></h2>
        <div class="js-page">
            <div class="swiper-wrapper">
                <div class="swiper-slide card">
                    <div class="card__media">
                        <img src="assets/images/Reactif.png" alt="" />
                    </div>

                    <div class="card__content">
                        <h3>Sem 07-sites réactifs</h3>
                        <p>
                            Lorem ipsum dolor sit amet, consectetur 
                            <strong>adipiscing elit. Ultrices lorem non feugiat egestas amet.</strong>
                        </p>
                        <p class="tag">SCSS+JAVASCRIPT</p>
                        <div class="button"><a href="/cours/cw3/sem07/">Voir le laboratoire <svg class="icon">
                        <use href="#icon-chevron-right"></use>
                    </svg></a></div>
                    </div>
                </div>
                <div class="swiper-slide card">
                    <div class="card__media">
                        <img src="assets/images/CryptoQC.png" alt="" />
                    </div>

                    <div class="card__content">
                        <h3>Sem 08-CryptoQC</h3>
                        <p>
                            Lorem ipsum dolor sit amet, consectetur 
                            <strong>adipiscing elit. Ultrices lorem non feugiat egestas amet.</strong>
                        </p>
                        <p class="tag">SCSS</p>
                        <div class="button"><a href="/cours/cw3/sem08/">Voir le laboratoire <svg class="icon">
                        <use href="#icon-chevron-right"></use>
                    </svg></a></div>
                    </div>
                </div>
                <div class="swiper-slide card">
                    <div class="card__media">
                        <img src="assets/images/Swiper.png" alt="" />
                    </div>

                    <div class="card__content">
                        <h3>Sem 09-Swiper JS</h3>
                        <p>
                            Lorem ipsum dolor sit amet, consectetur 
                            <strong>adipiscing elit. Ultrices lorem non feugiat egestas amet.</strong>
                        </p>
                        <p class="tag">JAVASCRIPT</p>
                        <div class="button"><a href="/cours/cw3/sem09/">Voir le laboratoire <svg class="icon">
                        <use href="#icon-chevron-right"></use>
                    </svg></a></div>
                    </div>
                </div>
            </div>
            <div class="swiper-pagination"></div>
        </div>
    </div>
</section>

{% include "_partials/_footer.html" %}
