{% include "_partials/_header.html" %}

<!-- Votre contenu ici -->
<section class="hero">
    <div class="wrapper">
        <div class="hero_media">
            <img src="assets/images/Test.jpg" alt="" />
        </div>
        <div class="hero_content">
            <h1>Mon cahier d'excercice</h1>
        </div>
    </div>
</section>

<section class="section">
    <div class="wrapper">
        <h2>
            Mes premiers
            <strong>Laboratoires</strong>
        </h2>
        <div class="cards">
            <div class="card">
                <div class="card__media">
                    <img src="assets/images/Test.jpg" alt="" />
                </div>

                <div class="card__content">
                    <h3>Sem 01-Révision</h3>
                    <p>
                        Lorem, ipsum dolor sit amet consectetur adipisicing elit. Quas error nobis dolorum amet beatae fugiat modi corporis minima, odio,
                        necessitatibus distinctio soluta quisquam possimus porro corrupti eaque vitae, est placeat.
                    </p>
                    <p class="tag">HTLM+CSS</p>
                    <a href="/cours/cw3/sem01/">Voir le laboratoire</a>
                </div>
            </div>
            <div class="card reverse">
                <div class="card__media">
                    <img src="assets/images/Test.jpg" alt="" />
                </div>

                <div class="card__content">
                    <h3>Sem 02-Timtools</h3>
                    <p>
                        Lorem, ipsum dolor sit amet consectetur adipisicing elit. Quas error nobis dolorum amet beatae fugiat modi corporis minima, odio,
                        necessitatibus distinctio soluta quisquam possimus porro corrupti eaque vitae, est placeat.
                    </p>
                    <p class="tag">SCSS</p>
                    <a href="/cours/cw3/sem02/">Voir le laboratoire</a>
                </div>
            </div>
            <div class="card">
                <div class="card__media">
                    <img src="assets/images/Test.jpg" alt="" />
                </div>

                <div class="card__content">
                    <h3>Sem 03-portfolio Louis la joue</h3>
                    <p>
                        Lorem, ipsum dolor sit amet consectetur adipisicing elit. Quas error nobis dolorum amet beatae fugiat modi corporis minima, odio,
                        necessitatibus distinctio soluta quisquam possimus porro corrupti eaque vitae, est placeat.
                    </p>
                    <p class="tag">HTLM + SCSS</p>
                    <a href="#">Voir le laboratoire</a>
                </div>
            </div>
            <div class="card reverse">
                <div class="card__media">
                    <img src="assets/images/Test.jpg" alt="" />
                </div>

                <div class="card__content">
                    <h3>Sem 04-Icone et classes js</h3>
                    <p>
                        Lorem, ipsum dolor sit amet consectetur adipisicing elit. Quas error nobis dolorum amet beatae fugiat modi corporis minima, odio,
                        necessitatibus distinctio soluta quisquam possimus porro corrupti eaque vitae, est placeat.
                    </p>
                    <p class="tag">SCSS + javascript</p>
                    <a href="#">Voir le laboratoire</a>
                </div>
            </div>
        </div>
    </div>
</section>

<section class="swiper swiper_decoration">
    <div class="wrapper">
        <h2>Mes laboratoires réactifs</h2>
        <div class="js-page overflow">
            <div class="swiper-wrapper">
                <div class="swiper-slide card">
                    <div class="card__media">
                        <img src="assets/images/Test.jpg" alt="" />
                    </div>

                    <div class="card__content">
                        <h3>Sem 01-Révision</h3>
                        <p>
                            Lorem, ipsum dolor sit amet consectetur adipisicing elit. Quas error nobis dolorum amet beatae fugiat modi corporis minima, odio,
                            necessitatibus distinctio soluta quisquam possimus porro corrupti eaque vitae, est placeat.
                        </p>
                        <p class="tag">HTLM+CSS</p>
                        <a href="#">Voir le laboratoire</a>
                    </div>
                </div>
                <div class="swiper-slide card">
                    <div class="card__media">
                        <img src="assets/images/Test.jpg" alt="" />
                    </div>

                    <div class="card__content">
                        <h3>Sem 01-Révision</h3>
                        <p>
                            Lorem, ipsum dolor sit amet consectetur adipisicing elit. Quas error nobis dolorum amet beatae fugiat modi corporis minima, odio,
                            necessitatibus distinctio soluta quisquam possimus porro corrupti eaque vitae, est placeat.
                        </p>
                        <p class="tag">HTLM+CSS</p>
                        <a href="#">Voir le laboratoire</a>
                    </div>
                </div>
                <div class="swiper-slide card">
                    <div class="card__media">
                        <img src="assets/images/Test.jpg" alt="" />
                    </div>

                    <div class="card__content">
                        <h3>Sem 01-Révision</h3>
                        <p>
                            Lorem, ipsum dolor sit amet consectetur adipisicing elit. Quas error nobis dolorum amet beatae fugiat modi corporis minima, odio,
                            necessitatibus distinctio soluta quisquam possimus porro corrupti eaque vitae, est placeat.
                        </p>
                        <p class="tag">HTLM+CSS</p>
                        <a href="#">Voir le laboratoire</a>
                    </div>
                </div>
            </div>
            <div class="swiper-pagination"></div>
        </div>
    </div>
</section>

{% include "_partials/_footer.html" %}
